.Fond {
    position: fixed;
    top : 20%;
    left: 65%;
    transform: translateX(-50%);
    width: 100%;
    height: 100%;
    z-index: -1; /* Placez le fond en arrière-plan */
}


.Fond img {
    width: 70%;
    height: 70%;
    object-fit: cover; /* Assurez-vous que l'image couvre toute la zone sans déformation */
}