.header{
    display: flex;
    justify-content: space-between;
    padding: 25px;
    padding-top: 50px;
    padding-bottom: 0px;
    position: fixed;
    background-color: transparent;
    width: 98%;
}

.logo, .profile, .navigation{
    padding: 2rem;
    height: 25px;  
    background-color: #191919;
    color: white;
    border-radius: 2rem;
    display: flex;
    align-items: center;
}

.logo{
    margin-left: 40px;
}

.logo img{
    height: 40px;
}

.profile{
    margin-right: 40px;
}

.navigation{
    justify-content: space-around;
    padding-left: 1rem;
    padding-right: 1rem;
}

.navigation button{
    font-family: inherit;
    font-weight: bold;
    border: none;
    color: white;
    width: 8rem;
    padding: 1.5rem;
    margin-right: 0.5rem;
    margin-left: 0.5rem;
    border-radius: inherit;
    background-color: #191919;
    text-align: center;
    cursor: pointer;
}

.navigation button:hover{
    background: black;
}

.navigation button:focus{
    background: linear-gradient(140deg,lch(89.548% 132 162.268),lch(90.666% 132 196.455))!important;
}   