.header{
    position : relative;
    box-shadow: none;
    display : flex;
    background-color: #161b22;
    height : 64px;
    align-items: center;
}

.logo, .navigation, .name{
    height: inherit;  
    background-color: #161b22;
    color: white;
    align-items: center;
    display : flex;
}

.logo{
    margin-left: 25px;
}

.logo img{
    height: 60px;
}

.name{
    margin-left : 10px;
    font-weight : bold;
    
}
.navigation{
    margin-left: auto;
    padding-left: 1rem;
}

.navigation button{
    font-family: inherit;
    font-size : 16px;
    height : 4rem;
    border: none;
    color: white;
    width: 8rem;
    padding: inherit;
    border-radius: inherit;
    background-color: #161b22;
    text-align: center;
    cursor: pointer;
}


.name button{
    font-size : 16px;
    height : inherit;
    border: none;
    color: white;
    width: 8rem;
    background-color: #161b22;
    text-align: center;
    cursor: pointer;
    outline : none;
}

.navigation button:hover{
    background: black;

}


.name button:hover{
    color: cyan;
}

/*.profile button:focus{
    background: linear-gradient(140deg,lch(89.548% 132 162.268),lch(90.666% 132 196.455))!important;
}

.navigation button:focus{
    background: linear-gradient(140deg,lch(89.548% 132 162.268),lch(90.666% 132 196.455))!important;
} */


