.card{
    margin: 2rem;
    margin-bottom: 5rem;
    height: 30rem;
    box-shadow: 0 0 3px -1px transparent, 0 0 2px 1px transparent, 0 0 5px 0px transparent, 0px 10px 20px -5px black, 0 2px 15px -5px black, 0 0 20px 0px transparent;
}

.card img{
    width: 350px;
    object-fit: cover;
}